* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(115, 6, 216), rgb(6, 0, 8));
  font-family: Arial;
}

main {
  height: 100%;
  width: 100%;
}

.loading-page {
  height: 100%;
  width: 100%;
  animation: dissapear 1s forwards ease;
  animation-delay: 2s;
  animation-timing-function: linear;
  background: black;
  position: absolute;
  z-index: 5000;
}

svg {
  height: 100%;
  width: 100%;
}

.loading-page svg text {
  display: block;
  stroke: WHITE;
  font-size: 5rem;
  stroke-width: 3px;
  animation: animar-texto 4s ease infinite alternate;
  z-index: 5000;
  position: relative;
}

nav {
  width: 100%;
  height: 70px;
  background: black;
  box-shadow: 0px 0px 5px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20%;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
}

.logo:hover {
  background: -webkit-linear-gradient(rgb(81, 4, 88), rgb(128, 30, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav-list {
  width: 80%;
  color: white;
}

.nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Kanit", sans-serif;
}

.nav-list ul li {
  cursor: pointer;
}

.header-info {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info-div {
  height: 80%;
  width: 80%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px black;
}

.header-info-div div {
  width: 100%;
  color: white;
  font-family: "Kanit", sans-serif;
}

.header-info-img {
  height: 100%;
  background: url(../../img/music-diskjok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-info-text {
  height: 100%;
  display: flex;

  z-index: 5;
  position: relative;
  flex-direction: column;
}

.text-div {
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-div {
  position: relative;
  height: 50%;
  width: 100%;
}

.bar-1 {
  background: rgb(106, 5, 189);
  width: 5% !important;
  height: 100%;
  position: absolute;
  left: 45%;
  bottom: 0;
  animation: change-size-100 4s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-2 {
  background: rgba(66, 4, 116, 0.486);
  position: absolute;
  width: 5% !important;
  height: 80%;
  left: 40%;
  bottom: 0;
  animation: change-size-80 3s forwards infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-3 {
  background: rgba(66, 4, 116, 0.486);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 50%;
  height: 80%;
  bottom: 0;
  animation: change-size-80 3s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-4 {
  background: rgb(106, 5, 189);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 35%;
  height: 60%;
  bottom: 0;
  animation: change-size-60 2s forwards infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-5 {
  background: rgb(106, 5, 189);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 55%;
  height: 60%;
  bottom: 0;
  animation-timing-function: linear;
  animation: change-size-60 3s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-6 {
  background: rgba(66, 4, 116, 0.486);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 30%;
  height: 40%;
  bottom: 0;
  animation-timing-function: linear;
  animation: change-size-40 1.8s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-7 {
  background: rgba(66, 4, 116, 0.486);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 60%;
  height: 40%;
  bottom: 0;
  animation: change-size-40 1.6s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-8 {
  background: rgb(106, 5, 189);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 25%;
  height: 20%;
  bottom: 0;
  animation: change-size-20 1s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.bar-9 {
  background: rgb(106, 5, 189);
  position: absolute;
  width: 5% !important;
  height: 100%;
  left: 65%;
  height: 20%;
  bottom: 0;
  animation: change-size-20 2s forwards infinite;
  box-shadow: 0px 0px 5px 5px black;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 80px;
  width: 160px;
  background: none;
  border: 3px solid;
  color: rgb(113, 69, 150);
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  border-radius: 1000px;
}

button:hover {
  background: rgb(131, 66, 161);
  color: rgb(34, 1, 43);
  height: 90px;
  width: 180px;
}

@keyframes change-size-80 {
  0% {
    height: 80%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}

@keyframes change-size-100 {
  0% {
    height: 100%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes change-size-60 {
  0% {
    height: 60%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@keyframes change-size-40 {
  0% {
    height: 40%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 40%;
  }
}

@keyframes change-size-20 {
  0% {
    height: 20%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 20%;
  }
}

@keyframes animar-texto {
  0% {
    stroke-dasharray: 0 50%;
  }
  100% {
    stroke-dasharray: 50% 0;
  }
}

@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .header-info-div {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .nav-list {
    display: none;
  }
  .logo {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .text-div {
    font-size: 0.5rem;
  }
}
